<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vitrine da Moda</title>
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.css' %}" />
  </head>
  <body>
    <div class="container mt-5">
      <h2 class="text-center alert alert-danger">
        Estoque de roupas
      </h2>
      {% block content %} {% endblock content %}
    </div>
    <script src="{% static 'home/js/jquery.js' %}"></script>
    <script src="{% static 'home/js/popper.js' %}"></script>
    <script src="{% static 'home/js/bootstrap.js' %}"></script>
  </body>
</html>
